<div class="clickable-container">
	<% @ideas.each do |idea| %>
		<a href="/ideas/<%=idea.id%>">
			<div class="idea-container">
				<%= idea.name %>: <%= idea.description %>
			</div>
		</a>
	<% end %>
</div>
<div class="no-auto-ajax">
	<%= will_paginate @ideas %>
</div>