<div class="container_12">
	<div class="grid_12">
		<div class="idea-container">
			<%= @idea.name %>
			</br></br>
			<%= @idea.description %>
		</div>
	</div>
	<div class="clear"></div>
	<div class="grid_4">
		<h2>Good</h2>
		 <%= render :partial =>  'good_points' %>
	</div>
	<div class="grid_4">
		<h2>Bad</h2>
	</div>		
	<div class="grid_4">
		<h2>Consider This</h2>
	</div>
</div>