	<div class="grid_4">
		<h2>About</h2>
		<div class="about-container">		
		Ever have an idea that you need quick feedback on? Post it on Fantadea and start learning!
		<ul class="no-indent-list">
			<li>No Sign-up required</li>
		    <li>Share ideas with friends via Facebook, Twitter, and E-mail</li>
			<li>Get feedback from the entire Fantadea community</li>
		</ul>
		</div>
		
	</div>
	<div class="grid_4">  
		<h2>Add an Idea</h2>
		<div class="idea-container">
			<%= render :partial => new_idea_path %>
		</div>
	</div>
	<div class="grid_4"> 
		<h2>Latest Ideas</h2>
		<%= render :partial => "ideas/latest_ideas" %>
	</div>
