	<div class="grid_4">
		<h2>About</h2>
		<div class="about-container">		
		Do you have an idea and need some quick feedback?  Post it on Pindea and find out what people think!
		<ul class="no-indent-list">
			<li>No sign-up required</li>
		    <li>Share ideas with friends via Facebook, Twitter, and email.</li>
			<li>Get feedback from the entire Pindea community</li>
		</ul>
		</div>
		
	</div>
	<div class="grid_4">  
		<h2>Add an Idea</h2>
		<div class="idea-container">
			<%= render :partial => new_idea_path %>
		</div>
	</div>
	<div class="grid_4"> 
		<h2>Latest Ideas</h2>
		<%= render :partial => "ideas/latest_ideas" %>
	</div>
