<%= form_for SiteSuggestion.new, :html => { :class => "form-stacked"}, :remote => true do |s| %>
	<div class="clearfix validation-container input-append">		
		<%= s.label :text, "Comments/suggestions for us" %>
		<%= s.text_field :text, :maxlength => SiteSuggestion::TEXT_LENGTH	%>
		<%= submit_tag "+", :class => "btn"%>
	</div>

<% end%>