<%= form_for @good_point, :remote => true, :url => { :action => "create_good_point"} do |g| %>
	<div class="validation-container clearfix">
		<%= g.text_field :text %>
		<%= g.submit "Add", :class => "btn primary"%>

	</div>
<% end %>