.good-container, .bad-container, .neutral-container, .idea-container, .about-container
{
	border-radius: 15px;
	border: 2px solid black;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;

}

.good-container {
	background-color: #BCE3BF;
	background: rgb(188, 227, 191);
	background: rgba(188, 227, 191, 0.7);
}

.idea-container {
	background: rgb(252, 252, 213);
	background: rgba(252, 252, 213, 0.7);
}

.about-container
{
	background-image: url(/assets/green-background.png);
	background-position: center;
}

