.good-container, .bad-container, .consideration-container, .idea-container, .about-container
{
	border-radius: 15px;
	box-shadow:0 0 4px #000; 
	border: 2px solid transparent;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
}

.good-container {
	background: rgb(188, 227, 191);
	background: rgba(188, 227, 191, 0.7);
}


.bad-container {
	
	background: rgb(255, 213, 194);
	background: rgba(255, 213, 194, 0.7);
}

.consideration-container {
	background: rgb(237, 237, 237);
	background: rgba(237, 237, 237, 0.7);
}

.idea-container {
	background: rgb(252, 252, 213);
	background: rgba(252, 252, 213, 0.7);
}

.about-container
{
	background-image: url(/assets/green-background.png);
	background-position: center;
}

.clickable-container a 
{
	text-decoration: none;
	color: inherit;
}

.clickable-container .idea-container:hover
{
	border: 2px solid #979797;
	box-shadow:0 0 12px #FB6F10; 
}

