h1 
{
	font-size: 22px !important;
	font-weight: bold !important;
	margin: 0 0 0 0 !important;
	line-height: auto !important;
}

h1 a, h1 a:hover
{
	text-decoration: none;
	color: white;
}

h2
{	
	text-align: center;
}




