// overrides for twitter boostrap
ul
{
	margin-top: 12px !important;
}

li {
  line-height: 1.9 !important;
}


label
{
	font-weight: bold !important;
}

//html, body {
//	margin: 0 0 0 0;
//	padding: 0 0 0 0;
//}

body, p
{
	line-height: 1.9;
//	font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
//	color: #444444;
}






