// Place all the styles related to the idea controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-container .help-inline {
	display: block;
}

#good-point-textbox, #bad-point-textbox, #consideration-point-textbox
{
	width: 85%;
}


#new_idea
{
	padding-left: 15px;
	padding-right: 15px;
}

#new_idea label
{
	display: inline;
}

#new_idea input[type=text], #new_idea textarea
{
	width: 100%;
}

#new_idea a
{
	margin-left: 20px;
}