// Place all the styles related to the idea controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.idea-container .help-inline {
	display: block;
}

#good-point-textbox, #bad-point-textbox, #consideration-point-textbox
{
	width: 85%;
}

#new_good_point input[type=submit], #new_bad_point input[type=submit], #new_consideration_point input[type=submit]
{
	width: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

#good-idea-column .btn, #bad-idea-column .btn, #consideration-idea-column .btn
{
	margin-bottom: 8px;
}
