<html>
	<head>

	</head>		
	<body>
		 <script type="text/javascript" class=".document-script">
			$(document).ready( function() { fantadea.initializeController("<%=controller.controller_name.camelize.chomp('s')%>"); }); 
		 </script>
		<%= yield %>
	</body>
</html>